* {
margin: 0;
padding: 0;
}

@font-face {
    font-family: 'Gilory';
    src: url("../fonts/Gilroy-Semibold.ttf");
}

@font-face {    
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Black.ttf");
}
body {
background-color: #191411;
font-family: 'Gilory', sans-serif;
color: white;
margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
border-radius: 8px;
background: linear-gradient(96deg, #cc6e0f 0%, #c99915 100%);
width: 260px;
height: 62px;
padding: 19px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
border: 0;
cursor: pointer;
outline: none;
color: #191411;
font-size: 18px;
}

.button:hover {
    background: linear-gradient(96deg, #834b13 0%, #c99915 100%);
}

.main {
    background-image: url(../images/main_bg.png);
    background-position: top center;
    overflow: hidden;
}

.header {
    padding: 40px, 0px;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img {
vertical-align: bottom;
}

.menu {
margin-left: 191px;
}

.menu-list {
    list-style: none;
    display: flex;
    cursor: pointer;
}

.menu-item {
    margin-right: 88px;
    cursor: pointer;
}

.menu-item a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.currency {
    border: 1px solid white;
    padding: 11px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: auto;
    margin-left: auto;
    font-size: 20px;
    user-select: none;
}

.main-content {
    padding-top: 103px;
    padding-bottom: 199px;
}

.main-content .container {
    position: relative;
}

.main-info {
    max-width: 608px;
}

.main-small-info {
    background: linear-gradient(96deg, #da2505 0%, #da2500 100%);
    border-radius: 100px;
    padding: 17px 14px;
    display: inline-block;
    font-size: 18px;
    margin-left: 0px;
    margin-top: 100px;
    cursor: pointer;

}

.main-title {
    font-size: 150px;
    font-family: 'Merriweather', sans-serif;
    line-height: 180px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
}

.main-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-image {
    position: absolute;
    top: -75px;
    left: calc(100% - 890px);

}